/* Common */
body {
    margin: 0 auto;
}

/* Header */
header {
    width: auto;
}

#main-header {
    background-color: #4ea0ff;
    background-image: url("../img/pattern.png");
    background-repeat: repeat;
    background-size: 330px;
    line-height: 100px;
}

#logo {
    height: 50px;
    width: auto;
    padding-left: 100px;
    vertical-align: middle;
}

/* Main */
main {
    max-width: 1080px;
    padding-left: 100px;
    padding-right: 100px;
}

.title {
    padding-top: 20px;
    padding-bottom: 20px;
} 

.text-gray {
    color: #808080;
}

.text-small {
    font-style: normal;
    font-weight: lighter;
    font-size: small;
}

h1,
p,
h5 {
    margin: 0;
}

a {
    font-style: normal;
    color: #20a9e5;
    text-decoration: none;
}

figure {
    margin: 0;
}

figcaption {
    font-size: 0.7em;
    margin-bottom: 20px;
}

ul {
    padding-left: 20px;
}

table {
    border-collapse: collapse;
    margin-bottom: 20px;
}

th:first-child,
th:nth-child(2) {
    width: 200px;
}

thead {
    background-color: #1fa9e5;
    text-align: left;
    color: white;
}

tbody>tr:first-child,
tbody>tr:nth-child(3) {
    background-color: #b1e4f2;
}

/* Footer */
footer {
    padding-left: 100px;
    padding-right: 100px;
}

.footer-image {
  position: relative;
  width: 300px;
  height: 200px;
  margin-bottom: 20px;
  margin-left: 0;
}

.top-text {
    position: absolute;
    left: 10px;
    top: 10px;
    color: white;
    font-size: 1.5em;
}
