/* Common */
body {
    margin: 0 auto;
}

/* Header */
#main-header {
    background-color: #4ea0ff;
    background-image: url("../img/pattern.png");
    background-repeat: repeat;
    background-size: 30%;
    line-height: 100px;
}

#logo {
    height: 50px;
    width: auto;
    vertical-align: middle;
}

/* Main */
main {
    padding-left: 100px;
    padding-right: 100px;
}

.title {
    padding-top: 20px;
    padding-bottom: 20px;
} 

.text-gray {
    color: #808080;
}

.text-small {
    font-style: normal;
    font-weight: lighter;
}

h1,
p,
h5 {
    margin: 0;
}

a {
    font-style: normal;
    color: #20a9e5;
    text-decoration: none;
}

figure {
    margin: 0;
}

figcaption {
    font-size: 0.7em;
    margin-bottom: 20px;
}

ul {
    padding-left: 20px;
}

table {
    border-collapse: collapse;
    margin-bottom: 20px;
}

tr {
    width: 100%;
}

th{
    width: 30%;
}

thead {
    background-color: #1fa9e5;
    text-align: left;
    color: white;
}

tbody>tr:nth-child(1),
tbody>tr:nth-child(3) {
    background-color: #b1e4f2;
}
